{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1>{{ user.firstName }} {{ user.lastName }}! ✅</h1>
    <p>{{ user.about }}</p>

    <p>{{ dump(userSubscriptions) }}</p>
    <p>{{ dump(userFollowers) }}</p>

    <a href="{{ path('subscribe', {user:user.id}) }}">Подписаться</a>
    <a href="{{ path('unsubscribe', {user:user.id}) }}">Отписаться</a>

{% endblock %}
