{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    {% if(user.picture) %}
        <img src="{{ asset('uploads/avatar_pictures/' ~ user.picture) }}" alt="avatar picture" height="300">
    {% else %}
        <img src="{{ asset('images/default_avatar.png') }}" alt="avatar picture" height="300">
    {% endif %}
    <h1>{{ user.firstName }} {{ user.lastName }}! ✅</h1>
    <p>{{ user.about }}</p>

    {% if(currentUser is same as (user)) %}
        <a href="{{ path('edit_profile', {user:user.id}) }}">
            <button type="button" class="btn btn-primary">
                Edit profile
            </button>
        </a>

        <a href="{{ path('app_post_new') }}">
            <button type="button" class="btn btn-primary">
                New post
            </button>
        </a>
    {% endif %}

    <hr>
    {% if(currentUser is not same as (user)) %}
        <a href="{{ path('subscribe', {user:user.id}) }}">
            <button type="button" class="btn btn-primary">
                Подписаться
            </button>
        </a>
        <a href="{{ path('unsubscribe', {user:user.id}) }}">
            <button type="button" class="btn btn-primary">
                Отписаться
            </button>
        </a>
    {% endif %}
    <hr>
    <p>Friends, who a also following {{ user.firstName }} {{ user.lastName }}</p>
    <ul>
        {% for subscription in mutualSubscriptions %}
            <li><a href="{{ path('profile', {nickname:subscription.nickname}) }}">
                    {{ subscription.firstName }}
                    {{ subscription.lastName }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <hr>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subscription">
        Subscriptions: {{ numberUserSubscriptions }}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="subscription" tabindex="-1" role="dialog" aria-labelledby="subscriptionTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Subscriptions</h5>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for subscription in userSubscriptions %}
                            <li><a href="{{ path('profile', {nickname:subscription.nickname}) }}">
                                    {{ subscription.firstName }}
                                    {{ subscription.lastName }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#followers">
        Followers: {{ numberUserFollowers }}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="followersTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Followers</h5>
                </div>
                <div class="modal-body">
                    <h1>sdasdas</h1>
                    <ul>
                        {% for follower in userFollowers %}
                            <li><a href="{{ path('profile', {nickname:follower.nickname}) }}">
                                    {{ follower.firstName }}
                                    {{ follower.lastName }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Filename</th>
            <th>Description</th>
            <th>Created_at</th>
            <th>Updated_at</th>
            <th>actions</th>
            <th>Likes quantity</th>
            <th>Comments quantity</th>
            <th>Like</th>
        </tr>
        </thead>
        <tbody>
        {% for post in userPosts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><img src="{{ asset('/uploads/post_pictures/' ~ post.filename) }}" alt="post picture" height="150"></td>
                <td>{{ post.description }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                    {% if(currentUser is same as (user)) %}
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                    {{ include('post/_delete_form.html.twig') }}
                    {% endif %}
                </td>
                <td>{{ like.countPostLikes(post) }}</td>
                <td><a href="{{ path('app_post_show', {'id': post.id}) }}">
                        {{ post.commentsQuantity() }} comments
                    </a>
                </td>
                <td>
                    {% if post.id not in userLikes %}
                        <a href="{{ path('app_post_like', {id:post.id}) }}" class="btn btn-primary ">
                            Like
                        </a>
                    {% else %}
                        <a href="{{ path('app_post_unlike', {id:post.id}) }}" class="btn btn-primary ">
                            Unlike
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
