{% extends 'base.html.twig' %}

{% block title %}Hello FeedController!{% endblock %}

{% block body %}
    <h1>Feed</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Author nickname</th>
            <th>Author name</th>
            <th>Author picture</th>
            <th>Id</th>
            <th>Filename</th>
            <th>Description</th>
            <th>Created_at</th>
            <th>actions</th>
            <th>Likes quantity</th>
            <th>Comments quantity</th>
            <th>Likes</th>
        </tr>
        </thead>
        <tbody>
        {% for post in feedPosts %}
            <tr>
                <td>{{ post.authorNickname }}</td>
                <td>{{ post.authorName }}</td>
                <td><img src="{{ asset('uploads/avatar_pictures/' ~ post.authorPicture) }}" alt="post picture"
                         height="15"></td>
                <td>{{ post.id }}</td>
                <td><img src="{{ asset('uploads/post_pictures/' ~ post.postFilename) }}" alt="post picture"
                         height="150"></td>
                <td>{{ post.postDescription }}</td>
                <td>{{ post.postCreatedAt ? post.postCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.postId}) }}">show</a>
                    <a href="{{ path('app_post_edit', {'id': post.postId}) }}">edit</a>
                </td>
                <td>{{ like.countPostLikesById(post.postId) }}</td>
                <td><a href="{{ path('app_post_show', {'id': post.postId}) }}">
                        {{ commentsCounter.count(post.postId) }} comments
                    </a>
                </td>
                <td>
                    {% if post.postId not in userLikes %}
                        <a href="{{ path('app_post_like', {id:post.postId}) }}" class="btn btn-primary ">
                            Like
                        </a>
                    {% else %}
                        <a href="{{ path('app_post_unlike', {id:post.postId}) }}" class="btn btn-primary ">
                            Unlike
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
