{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <th>Filename</th>
            <td><img src="{{ asset('uploads/post_pictures/' ~ post.filename) }}" alt="post picture" height="300"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ post.description }}</td>
        </tr>
        <tr>
            <th>Created_at</th>
            <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Updated_at</th>
            <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Likes quantity</th>
            <td> {{ likesQuantity }}</td>
        </tr>
        <tr>
            <th>Like</th>
            <td>
                {% if post.id not in userLikes %}
                    <a href="{{ path('app_post_like', {id:post.id}) }}" class="btn btn-primary ">
                        Like
                    </a>
                {% else %}
                    <a href="{{ path('app_post_unlike', {id:post.id}) }}" class="btn btn-primary ">
                        Unlike
                    </a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('app_post_index') }}">back to list</a>
    {% if post.user is same as currentUser %}
    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
    {{ include('post/_delete_form.html.twig') }}
    {% endif %}

    <h1>Comments</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Author Id</th>
            <th>Comment</th>
            <th>Created_at</th>
            <th>Updated_at</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.author.id }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if comment.author is same as currentUser or currentUser is same as comment.post.user %}
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a>
                    {{ include('comment/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_comment_new', {'post': post.id}) }}"> <h1>Add comment</h1> </a>
{% endblock %}
